* {
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

body{
    margin: 0px;
}

nav {
    max-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px black;
}

nav a img {
    width: 200px;
    padding-left: 2%;
    padding-top: 2;
    border-radius: 10px;
}

.navigation {
    flex: 1;
    text-align: right;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navigation ul li a {
    color: beige;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navigation ul li a:hover::after {
    width: 100%;
}

.dropbtn{
    color: beige;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(27, 26, 26);
}

.dropdown-content {
    display: none;
    position: absolute;
    color: beige;
    text-decoration: none;
    font-size: 15px;
    list-style: none;
    padding: 8px 12px;
    z-index: 1;
    background-color: rgb(27, 26, 26);
    border-radius: 5px;
    text-align: center;
    width: 65px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.home-main {
    min-height: 95vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/110.jpg);
    background-position: centre;
    background-size: cover;
    position: relative;
}

main {
    width: 100%;
    min-height: 90vh;
    background-color: rgb(51, 50, 50);
}
.textbox{
    color: #000000;
    background-color: #000000;
    color: white;
    text-shadow: none;
    size: 20px;
}

#gallery{
    align-items: center;
}
#slides img{
    display: none;
}
.text-box {
    width: 90%;
    color: #000000;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 50px;
}

.text-box h2 {
    margin: 10px 0 40px;
    font-weight: 30px;
    color: #fff;
}

.home-button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.home-button:hover {
    border: 1px solid #050303;
    background: #100a0a;
    transition: 1s;
}

footer {
    background-color: black;
    font-size: 17px;
    color: #fff;
    text-align: center;
    padding: 12px 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

footer a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.25s;
}

footer a:hover::after {
    width: 100%;
}

p {
    color: #fff;
    text-align: left;
    padding: 20px;
}



h1,
h2,
h3 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside {
    text-align: left;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside p {
    color: #fff;
}

aside p a {
    color: azure;
}

.shop h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

.shop a {
    text-decoration: none;
}

.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content {
    width: 25%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 3px 6px rgb(152, 149, 149),
        0 3px 6px rgb(150, 136, 136);
    transition: 0.4s;
    background: rgb(46, 44, 44);
}

.content:hover {
    box-shadow: 0 3px 6px white,
        0 3px 6px rgb(208, 180, 180);
    transform: translate(0px, -8px);
}

.shop img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.shop p {
    text-align: center;
    color: white;
    padding-top: 0 8px;
}

.shop h6 {
    font-size: 26px;
    text-align: center;
    color: white;
    margin: 0;
}

button {
    text-align: center;
    font-size: 24px;
    color: black;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.prod-head {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.media-head {
    text-align: center;
    color: rgb(42, 39, 39);
}

.video {
    padding: 1em;
    text-align: center;
}

video {
    border: 1px ridge #FFFFFF;
    border-radius: 15px;
    height: auto;
    max-width: 100%;
    min-width: 70%;
}

audio {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.audio {
    align-items: center;
}

.media {
    background-color: rgb(188, 182, 182);
}

.about-banner {
    width: 100%;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

@media(max-width:1000px) {
    .content {
        width: 45%;
    }
}

@media(max-width:750px) {
    .content {
        width: 100%;
    }
}
.shop .content {
    margin-bottom: 20px; 
}